* {
  font-family: 'Montserrat', sans-serif;
}

/*.mdl-layout__content {
  flex-grow: 0 !important;
}*/

.mdl-layout {
  position: initial !important;
}

/* Navigation Bar */
.mdl-layout__title,
.mdl-layout-title {
  font-family: 'Montserrat', sans-serif !important;
  color: black !important;
}

/* .demo-big-content {
  display: block;
  position: sticky;
} */

.mdl-layout__drawer {
  position: fixed !important;
}

.mdl-layout__obfuscator {
  position: fixed !important;
}

/* Home page */

.header-color {
  /*background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);*/
  background: #ec6f66;
  background: -webkit-linear-gradient(to right, #f3a183, #ec6f66);
  background: linear-gradient(to right, #f3a183, #ec6f66);
}

.home-grid {
  /*background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);*/
  background: #ec6f66;
  background: -webkit-linear-gradient(to right, #f3a183, #ec6f66);
  background: linear-gradient(to right, #f3a183, #ec6f66);

  text-align: center;
  padding: 3vh 0vh 3vh 0vh;
}

.home-second-grid {
  margin: 3vh 3vh 3vh 3vh;
}

.profile-picture {
  height: 25vh;
  /*padding-top: 5vh;*/
}

.banner-text {
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  color: white;
  font-family: 'Montserrat', sans-serif !important;
}

.banner-text hr {
  border-top: 1px solid white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  padding: 1vh;
  margin: 0vh;
}

.social-links-home {
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.social-links-home i {
  color: white;
  font-size: 3em;
  padding: 1vh 4vh 1vh 4vh;
}

/* Projects Page */

.projects-grid {
  display: flex;
}

.grid-width {
  margin: 6vh 0vh 3vh 0vh;
}

/*.project-tabs {
  padding-top: 6vh;
}*/

/* Contact Page */

.mdl-list__item .mdl-list__item-primary-content {
  display: inline !important;
}

.contact-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  display: flex;
  color: black;
  background-color: white;
  padding: 0vh 5vh 0vh 5vh;
  margin: 0vh 5vh 0vh 5vh;
}

.contact-grid h2 {
  font-family: 'Courier Prime', Courier, monospace;
}

.contact-grid hr {
  border-top: 1px solid black;
  width: 50%;
  margin: auto;
}

.contact-div {
  width: 50%;
}
/* Resume Page */

.resume-img {
  padding: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-links-resume {
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.social-links-resume i {
  color: white;
  font-size: 3em;
  padding: 1vh 3vh 1vh 3vh;
}

.resume-grid {
  display: flex;
}

.resume-column-left {
  text-align: center;
  justify-content: center;
  padding: 10vh;
  width: 33%;
}

.resume-column-right {
  padding: 2vh;
  border-radius: 10px;
  margin: 8vh;
  width: 66%;
  color: white;
  /*background-color: navajowhite;*/
  background: #ec6f66;
  background: -webkit-linear-gradient(to right, #f08d78, #ec6f66);
  background: linear-gradient(to right, #f08d78, #ec6f66);
}

.resume-grid h5 {
  font-family: 'Montserrat', sans-serif;
}

/* Experience Component */

.exp-grid {
  display: flex;
}

.exp-left {
  width: 33%;
}

.exp-right {
  width: 66%;
}

/* Mobile & Tablet View */

@media only screen and (max-width: 1350px) {
  .mdl-layout {
    position: absolute !important;
  }

  /* Home Page */

  .banner-text {
    width: 100%;
  }

  .banner-text hr {
    width: 95%;
    margin: auto;
  }

  .banner-text p {
    padding: 2vh;
  }

  .banner-text h1 {
    padding: 2vh;
  }

  /* Project Page */

  .project-tabs {
    padding-top: 6vh;
  }

  .projects-grid {
    display: inline !important;
  }

  .mdl-layout__inner-container {
    overflow: hidden !important;
    overflow-y: hidden !important;
  }

  .mdl-layout__drawer {
    position: fixed !important;
  }

  /* Contact Page */

  .contact-grid {
    display: inline !important;
    padding: 0vh;
  }

  .contact-div {
    width: 100%;
  }

  .grid-width {
    width: auto;
  }

  /* Resume Page */

  /*.resume-img {
    padding: 7vh;
    width: 70%;
  }*/

  .resume-grid {
    display: inline;
  }

  .resume-column-left {
    width: 100%;
    padding: 7vh 0vh 0vh 0vh;
    margin: 0vh;
  }

  .resume-column-right {
    border-radius: 0px;
    padding: 1vh 0vh 0vh 0vh;
    margin: 0vh;
    width: 100%;
    text-align: center;
  }

  .resume-column-left p {
    padding: 2vh;
    margin: 0vh;
  }

  .resume-column-left hr {
    width: 95%;
    margin: auto;
  }

  .resume-column-left h5 {
    margin: 0vh;
    padding: 2vh 2vh 0vh 2vh;
  }

  .resume-column-right p {
    padding: 1vh;
  }

  .resume-column-right h5 {
    padding: 1vh;
  }

  .resume-column-right hr {
    width: 95%;
    margin: auto;
  }

  .social-links-resume i {
    margin: 2vh 0vh;
  }

  /* Experience Component */

  .exp-grid {
    display: flex;
  }

  .exp-left {
    width: 35%;
  }

  .exp-right {
    width: 65%;
  }
}
