* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: white;
}

.mdl-layout {
  position: initial !important;
}

/* Navigation Bar */

form {
  width: auto;
}
button {
  margin: 1vh;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-default,
.collapsed {
  border-color: #3e444a !important;
}
.navbar-default,
.toggle {
  background-color: white !important;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
  margin: 2vh 2vw 2vh 2vw !important;
}
.navbar-brand:hover,
.navbar-nav:hover .nav-link:hover {
  color: #474747 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #474747 !important;
}
.navbar-light .navbar-brand {
  color: white !important;
}
.navbar-light:hover .navbar-brand:hover {
  color: #474747 !important;
}

/* Home page */

.header-color {
  /*background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  background: #ec6f66;
  background: -webkit-linear-gradient(to right, #f3a183, #ec6f66);
  background: linear-gradient(to right, #f3a183, #ec6f66);*/
  background: rgba(0, 0, 0, 0.6) !important;
}

.home-grid {
  /*background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);*/
  background: url('./assets/blur.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 12vh 0vh 3vh 0vh;
}

.home-second-grid {
  margin: 3vh 3vh 3vh 3vh;
}

.profile-picture {
  width: 25vh;
}

.banner-text {
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  color: white;
  font-family: 'Montserrat', sans-serif !important;
}

.banner-text hr {
  border-top: 1px solid white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  padding: 1vh;
  margin: 0vh;
  font-weight: bold;
}

.social-links-home {
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.social-links-home i {
  color: white;
  font-size: 3em;
  padding: 1vh 4vh 1vh 4vh;
}

.qoutes {
  text-align: center;
  margin: auto;
  font-size: 30px;
  margin: 2vh 5vh 2vh 5vh;
  line-height: 1em;
}

/* Projects Page */

.projects-grid {
  display: flex;
}

.grid-width {
  margin: 6vh 0vh 3vh 0vh;
}

.cards {
  transition: transform 0.5s;
  margin-top: 2vh !important;
  font-weight: bold;
}

.card-text {
  height: 13.42vh;
}

.cards:hover {
  transform: scale(1.1);
}

.tabs {
  transition: transform 0.5s;
}

.tabs:hover {
  transform: scale(1.3);
}

/* Contact Page */

.mdl-list__item .mdl-list__item-primary-content {
  display: inline !important;
}

.contact-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  display: flex;
  color: black;
  background-color: white;
  padding: 0vh 5vh 0vh 5vh;
  margin: 0vh 5vh 0vh 5vh;
}

.contact-grid h2 {
  font-family: 'Courier Prime', Courier, monospace;
}

.contact-grid hr {
  border-top: 1px solid black;
  width: 50%;
  margin: auto;
}

.contact-div {
  width: 50%;
}

/* Resume Page */

.resume-img {
  padding: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-links-resume {
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.social-links-resume i {
  color: white;
  font-size: 3em;
  padding: 1vh 3vh 1vh 3vh;
}

.resume-grid {
  display: flex;
}

.resume-grid p {
  font-weight: bold;
}

.resume-grid h5 {
  font-weight: bold;
}

.resume-grid h4 {
  font-weight: bold;
}

.resume-grid h3 {
  font-weight: bold;
}

.resume-column-left {
  text-align: center;
  justify-content: center;
  padding: 10vh;
  width: 45%;
}

.resume-column-right {
  padding: 2vh;
  border-radius: 10px;
  margin: 8vh;
  width: 55%;
  color: white;
  background: #a8a8a8;
  background: -webkit-linear-gradient(to right, #a8a8a8, #404040);
  background: linear-gradient(to right, #a8a8a8, #404040);
}

.resume-grid h5 {
  font-family: 'Montserrat', sans-serif;
}

/* Experience Component */

.exp-grid {
  display: flex;
}

.exp-left {
  width: 33%;
}

.exp-right {
  width: 66%;
}

/* Fade in Text */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.6s ease;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Mobile & Tablet View */

@media only screen and (max-width: 1350px) {
  .mdl-layout {
    position: absolute !important;
    height: 50px !important;
  }

  /* Home Page */

  .demo-big-content {
    position: static;
  }

  .banner-text {
    width: 100%;
  }

  .banner-text hr {
    width: 95%;
    margin: auto;
  }

  .banner-text p {
    padding: 2vh;
  }

  .banner-text h1 {
    padding: 2vh;
  }

  /* Project Page */

  .project-tabs {
    padding-top: 6vh;
  }

  .projects-grid {
    display: inline !important;
  }

  .mdl-layout__inner-container {
    overflow: hidden !important;
    overflow-y: hidden !important;
  }

  .mdl-layout__drawer {
    position: fixed !important;
  }

  /* Contact Page */

  .contact-grid {
    display: inline !important;
    padding: 0vh;
  }

  .contact-div {
    width: 100%;
  }

  .grid-width {
    width: auto;
  }

  /* Resume Page */

  .resume-grid {
    display: inline;
  }

  .resume-column-left {
    width: 100%;
    padding: 7vh 0vh 0vh 0vh;
    margin: 0vh;
  }

  .resume-column-right {
    border-radius: 0px;
    padding: 1vh 0vh 0vh 0vh;
    margin: 0vh;
    width: 100%;
    text-align: center;
  }

  .resume-column-left p {
    padding: 2vh;
    margin: 0vh;
  }

  .resume-column-left hr {
    width: 95%;
    margin: auto;
  }

  .resume-column-left h5 {
    margin: 0vh;
    padding: 2vh 2vh 0vh 2vh;
  }

  .resume-column-right p {
    padding: 1vh;
  }

  .resume-column-right h5 {
    padding: 1vh;
  }

  .resume-column-right hr {
    width: 95%;
    margin: auto;
  }

  .social-links-resume i {
    margin: 2vh 0vh;
  }

  /* Experience Component */

  .exp-grid {
    display: flex;
  }

  .exp-left {
    width: 35%;
  }

  .exp-right {
    width: 65%;
  }

  .exp-right h5 {
    padding: 2vh;
  }

  /* Fade in Text */

  .fade-in-section {
    transition: opacity 0.6s ease-out, transform 0.4s ease-out;
  }
}

/*
#home {
  background: rgba(0, 0, 0, 0.6);
  padding: 2vh;
  margin: 5vh;
  border-radius: 15px;
}

.home-grid {
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 8vh 0vh 3vh 0vh;
}

.myVideo {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}*/

/* Mobile & Tablet View */

/*@media only screen and (max-width: 1350px) {
  .mdl-layout {
    position: absolute !important;
    height: 50px !important;
  }*/

/* Home Page */

/*#home {
  background: rgba(0, 0, 0, 0.6);
  padding: 2vh;
  margin: 0 4vh;
  border-radius: 15px;
}

  .home-second-grid {
    margin: 3vh 3vh 3vh 3vh;
  }

  .myVideo {
  width: auto;
  height: 100%;
}
}*/
